:root {
    --primary-color: #E06E3F;
    --secondary-color: #F2F2F2;
    --tertiary-color: #404040;
    --quaternary-color: #F7F8F9;
    --quinary-color: #F2F2F2;
    --senary-color: #E5E5E5;
    --septenary-color: #C7C7C7;
    --octonary-color: #555555;
    --nonary-color: #FFFFFF;
    --decenary-color: #000000;
    --danger-color: #FF0000;
    --success-color: #00FF00;
    --warning-color: #FFFF00;
    --info-color: #0000FF;
}

body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .container {
        padding: 5px;
    }
}

/* Responsif untuk perangkat sedang */
@media (min-width: 601px) and (max-width: 1200px) {
    body {
        font-size: 16px;
    }

    .container {
        max-width: 90%;
        margin: auto;
    }
}

/* Responsif untuk perangkat besar */
@media (min-width: 1201px) {
    body {
        font-size: 18px;
    }

    .container {
        max-width: 1200px;
        margin: auto;
    }
}

section {
    position: relative; 
    text-align: center;
    justify-content: center;
    display: flex;
}

main {
    display: flex;
}

form {
    position: relative;
    z-index: 1;
    max-width:100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.form-login {
    width: 350px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    display: flex;
}

.alert-danger {
    font-size: 15px;
    background-color: #9e4a4a;
    color: #ffffff;
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 55%;
    display: absolute;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 10px;
    right: 0;
    transform: translateX(-50%);
    justify-content: lefcentert;
}

.alert-success {
    font-size: 15px;
    background-color: #4a9e4a;
    color: #ffffff;
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 55%;
    display: absolute;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 70px;
    right: 0;
    transform: translateX(-50%);
    justify-content: lefcentert;
}

.form-register {
    width: 350px;
    height: 610px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    display: flex;
}

form input {
    font-family: "Roboto", sans-serif;
    width: 100%;
    outline: 0;
    background: #ffffff;
    box-shadow: 0 0 4px #c2c2c2;
    border: 0;
    border-radius: 5px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
}

form h2 {
    margin: 0 0 15px;
    padding: 0;
    text-align: center;
    font-size: 30px;
    color: #000000;
}

.form-label {
    margin: 0 0 5px;
    padding: 0;
    font-size: 15px;
    color: #000000;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    justify-content: left;
    display: flex;
}

.text-error {
    margin: 0 0 0;
    font-size: 15px;
    color: red;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    justify-content: left;
}

.submit-btn-register {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4c8baf;
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
    margin-left: 0;
    color: #ffffff;
    font-size: 14px;
}

.submit-btn-register:hover, .submit-btn-register:active, .submit-btn-register:focus {
    background: #2d6da4;
}

.submit-btn-login {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4c8baf;
    width: 100%;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
}

.submit-btn-login:hover, .submit-btn-login:active, .submit-btn-login:focus {
    background: #2d6da4;
}

.link-btn-login-register {
    margin: 10px 0 0;
    text-align: center;
    color: #757575;
    font-size: 15px;
}

.navbar-brand {
    font-size: 15px;
    font-weight: lighter;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    justify-content: center;
    display: flex;
}

/* Sidebar styles */
.sidebar {
    position: fixed;
    top: 55px;
    left: -250px; /* Hidden initially */
    width: 200px;
    height: 100%;
    border-radius: 0 20px 0 0;
    background-color: #333;
    color: white;
    overflow-y: auto;
    transition: left 0.3s ease; /* Smooth open/close animation */
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 40px;
}

.sidebar ul li {
    padding: 5px;
}

.sidebar ul li a {
    color: rgb(134, 134, 134);
    text-decoration: none;
    font-size: 15px;
    display: block;
    transition: color 0.3s ease;
}

.sidebar ul li a:hover {
    color: #FFFFFF;
    border-radius: 50px 0 0 50px;
    text-decoration: none;
    font-size: 15px;
    display: block;
    transition: color 0.3s ease;
}

.sidebar img {
    margin-right: 20px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* Close button inside sidebar */
.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 25px;
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

/* Main content styles */
#main-content {
    padding: 20px;
    transition: margin-left 0.3s ease;
}

/* Open button outside sidebar */
.open-btn {
    position: fixed;
    top: 5px;
    left: 350px;
    font-size: 25px;
    font-style: bold;
    color: #7c7c7c;
    background: none;
    border: none;
    cursor: pointer;
}

/* Sembunyikan tombol open-btn */
.open-btn.hidden {
    display: none;
}


.open-btn:hover {
    color: #000000;
}

.close-btn:hover {
    color: #ffffff;
}

/* Sidebar open state */
.sidebar.open {
    left: 0; /* Move sidebar into view */
    transition: left 0.3s ease;
}

#main-content.shift {
    margin-left: 250px; /* Shift content when sidebar is open */
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #333;
    color: black;
}

.navbar .logo {
    font-size: 24px;
    font-weight: lighter;
    margin-top: -5px;
}

.navbar .profile {
    position: relative;
}

.profile-dropdown {
    margin-left: 50px;
    margin-top: 5px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 53px;
    right: 15px;
    background-color: white;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 1000;
}

.profile:hover .dropdown-menu {
    display: block;
}

.dropdown-menu .dropdown-btn {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #868686;
}

.dropdown-menu .dropdown-btn:hover {
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #808080;
}

.logout-btn {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #868686;
}

.logout-btn:hover {
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ce6868;
}

.toggle-btn {
    background: none;
    border: none;
    color: black;
    font-size: 18px;
    cursor: pointer;
}

.rotate {
    transform: rotate(180deg);
    transition: transform 0.5s;
}

.icon {
    transition: transform 0.5s;
}

.footer-sidebar {
    margin-top: 0;
    color: white;
    text-align: center;
    font-size: 13px;
}

.rounded-circle {
    border: 2px solid #ddd;
    transition: 0.3s;
}

.rounded-circle:hover {
    border-color: #007bff;
}
