section {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

main {
    text-align: center;
    justify-content: center;
    display: flex;
}

div .row {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    background-color: #FFFFFF;
}

.form-register h2 {
    margin: 0 0 15px;
    padding: 0;
    text-align: center;
    font-size: 30px;
    color: #000000;
}

form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 250px;
    margin: 0 auto 100px;
    margin-top: 40px;
    padding: 45px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    border-radius: 10px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
}

.form-username-register p {
    margin: 0 0 5px;
    padding: 0;
    font-size: 15px;
    color: #000000; 
    margin-right: 180px;
}

.form-email-register p {
    margin: 0 0 5px;
    padding: 0;
    font-size: 15px;
    color: #000000; 
    margin-right: 200px;
}

.form-password-register p {
    margin: 0 0 5px;
    padding: 0;
    font-size: 15px;
    color: #000000;
    margin-right: 180px;
}

.toggle-password {
    cursor: pointer;
    position: absolute;
    margin-left: -30px;
    margin-top: 5px;
}

.submit-btn-register {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4c8baf;
    width: 100%;
    border: 0;
    border-radius: 10px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
}