body {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    background: #f3f3f3;
    background: -webkit-linear-gradient(right, #e0e0e0, #cacaca);
    background: -moz-linear-gradient(right, #c9c9c9, #a1a1a1);
    background: -o-linear-gradient(right, #949494, #7e7e7e);
    background: linear-gradient(to left, #e4e4e4, #f3f3f3);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  
}

@media (max-width: 600px) {
    body {
        font-size: 14px;
    }

    .container {
        padding: 5px;
    }
}

/* Responsif untuk perangkat sedang */
@media (min-width: 601px) and (max-width: 1200px) {
    body {
        font-size: 16px;
    }

    .container {
        max-width: 90%;
        margin: auto;
    }
}

/* Responsif untuk perangkat besar */
@media (min-width: 1201px) {
    body {
        font-size: 18px;
    }

    .container {
        max-width: 1200px;
        margin: auto;
    }
}

section {
    position: relative; 
    z-index: 1;
    padding: 45px;
    text-align: center;
    justify-content: center;
    display: flex;
}

main {
    text-align: center;
    justify-content: center;
    display: flex;
}

form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    width: 260px;
    max-width: 360px;
    margin: 0;
    margin-top: 50px;
    padding: 45px;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-register {
    margin-top: 6px;
}

form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    border-radius: 10px;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
}

form h2 {
    margin: 0 0 15px;
    padding: 0;
    text-align: center;
    font-size: 30px;
    color: #000000;
}

form p {
    margin: 0 0 5px;
    padding: 0;
    font-size: 15px;
    color: #000000;
    text-align: left;
}

.toggle-password {
    cursor: pointer;
    position: absolute;
    font-size: 18px;
    margin-left: -35px;
    margin-top: 12px;
}

.toggle-password:hover {
    color: #4c8baf;
}

.error {
    color: red;
    font-size: 10px;
}

.submit-btn-register {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4c8baf;
    width: 100%;
    border: 0;
    border-radius: 10px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
}

.submit-btn-register:hover, .submit-btn-register:active, .submit-btn-register:focus {
    background: #2d6da4;
}

.submit-btn-login {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4c8baf;
    width: 100%;
    border: 0;
    border-radius: 10px;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
}

.submit-btn-login:hover, .submit-btn-login:active, .submit-btn-login:focus {
    background: #2d6da4;
}

.link-btn-login-register {
    margin: 10px 0 0;
    text-align: center;
    color: #757575;
    font-size: 15px;
}